{% extends "blog/base_template.html" %}
{% block title %}
Add Data Page
{% endblock title %}
{% load static %}


{% block custom_css %}
<style media="screen">
    .bg_blue {
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px grey;
        background: dodgerblue;
        color: #fff;
    }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #082B3E;
        color: white;
    }

    .brand-logo {
        padding-left: 5%;
        margin: 10px;
    }

    .navbar-links ul {
        margin: 0;
        padding: 0px 100px;
        display: flex;
    }

    .navbar-links li {
        list-style: none;
        font-family: 'Work Sans', sans-serif;
    }

    .navbar-links a {
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
    }

    .navbar-links li:hover {
        background-color: #244b61;
    }

    .toggle-button {
        position: absolute;
        top: .7rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    @media (max-width:600px) {

        .toggle-button {
            display: flex;
        }

        .navbar-links {
            display: none;
            width: 100%;
        }

        .navbar {
            flex-direction: column;
            align-items: flex-start;
        }

        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }

        .navbar-links li {
            text-align: center;
        }

        .navbar-links li a {
            padding: .5rem 1rem;
        }

        .navbar-links.active {
            display: flex;
        }

    }

    .main_text {
        color: #FBBC05;
        text-align: center;
    }

    .main_div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        display: flex;
        border: 1px solid #FBBC05;
        border-radius: 5px;
        width: 400px;
        height: 40px;
        align-items: center;
        margin-bottom: 10px;
        justify-content:center;

    }

    .title {
        margin: 0px 10px 0px 5px;
    }

    .input {
        width: 300px;
        border: none;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }

    .bb {
        display: flex;
        justify-content: flex-end;
    }

    .answer {
        background-color: #33A853;
        color: white;
        border: none;
        border-radius: 5px;
    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 1000px;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

    .body2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .add_box_text {
        text-align: center;
        width: 500px;
        margin-left: 80px;
    }

    .add_box {
        margin-bottom: 40px;
    }
    .all_box{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .title_all{
        width:600px;
        text-align:center;
    }
    .button_up{
        background-color:#33A853;
        text-decoration: none;
        color:white;
        border-radius: 5px;
    }
    .button_del{
        background-color:#EA4336;
        text-decoration: none;
        color:white;
        border-radius: 5px;
    }
    .picture{
        height:100px;
        width:175px;;
    }
    .title_add{
        width:400px;

    }
    @media (max-width:1024px) {
        #customers{
            width:700px;
        }
    }
    @media (max-width:730px) {
        #customers{
            width:100px;
        }
        .picture{
            height:50px;
            width:60px;;
        }
        .title_all{
            width:400px;
        }
    }
</style>

{% endblock custom_css %} # монжо не писать, если не нужно

{% block bodydata %}

<nav class="navbar">
    <div class="brand-logo">
        <img src="{% static 'logo.png'%}" alt="logo" height="30px">
    </div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            <li><a href="{% url 'show_all_data' %}">Admin2</a></li>
            <li><a href="{% url 'tasks_list_url' %}">Todo</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="https://www.instagram.com/serikkhanayan/">Instagram</a></li>
            <li><a href="{% url 'showblog'%}">Blog</a></li>
        </ul>
    </div>
</nav>


<div class="body2">
    <div class="add_box">

        <div class="add_box_text">
            <h2 class="bg_blue title_add">Add news to the Blog</h2>
        </div>
        <div class="main_div">
            <form action="/add_post" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box">
                    <label class="title">Title: </label>
                    <input type="text" name="title" class="input" value="{{post.title}}">
                </div>

                <div class="box">
                    <label class="title">Text: </label>
                    <input type="text" name="text" class="input" value="{{post.text}}">
                </div>
                <div class="box">
                    <label class="title">Image: </label>
                    {# <img src="/awesome_media/{{ post.image }}" style="width:240px;height:165px;"> #}
                    <input type="file" name="image" class="input" value="{{post.image}}">
                </div>
                <div class="bb">
                    <input type="hidden" name="id" value="{{post.id}}">
                    <input type="submit" name="submit" class="answer" value="Add Post">
                </div>
            </form>
        </div>
    </div>


    <div class= "all_box">
        <div class="bg_blue title_all">
            <h1>All news</h1>
        </div>
        <div class="table">
            <table id="customers">
                <tr>
                    <th>title</th>
                    <th>date</th>
                    <th>text</th>
                    <th>image</th>
                    <th>choose</th>

                </tr>
                {% for all_post in post %}
                <tr>
                    <td class="" data-id="{{ all_post.id }}" data-type="title">{{ all_post.title }}</td>
                    <td class="" data-id="{{ all_post.id }}" data-type="date">{{ all_post.date }}</td>
                    <td class="" data-id="{{ all_post.id }}" data-type="text">{{ all_post.get_summary }}</td>

                    <td><img src="/awesome_media/{{ all_post.image }}"  class ="picture"></td>
                    <td><a href="/del_news/{{all_post.id}}" class="button_del">Delete</a><br><br>
                        <a class="button_up" href="/update_news/{{all_post.id}}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


</div>
{% endblock bodydata %}

{% block custom_js %}

<script type="text/javascript">
    const toggleButton = document.getElementsByClassName("toggle-button")[0]
    const navbarLinks = document.getElementsByClassName("navbar-links")[0]
    toggleButton.addEventListener('click', () => {
        navbarLinks.classList.toggle('active')
    })
</script>

{% endblock custom_js %} # монжо не писать, если не нужно
