<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    


    {% block custom_css %}
    {% endblock custom_css %}
</head>

<body>
    {% block bodydata %}{% endblock bodydata %}

    {% block custom_js %}{% endblock custom_js %}
</body>

</html>
